# ClimateMetrics Login Credentials
CLIMATEMETRICS_EMAIL=your-email-here@domain.com
CLIMATEMETRICS_PASSWORD=your-password-here

# Optional Configurations
# Set HEADLESS to 'false' if you want to watch the browser work locally
HEADLESS=true
